
  @import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Podkova:wght@600&family=Roboto:ital,wght@1,300&display=swap');

.bb{
    background-color: blue;
    height: 30px;
   
}


.produtos{
    margin: 0 auto;
    text-align: center;
}
.imagem1{
    display: flexbox;

}
.img {
    display: flexbox;

}

.Rodapé {
    display: flex;
    background: #132956;
    color: aliceblue;
    height: 300px;
    font-size: 26px;
    gap: 250px;
    font-family: 'Podkova';
    position: absolute;
   
    
  
   

}

.tex{
    flex-direction: column;
    
}

.texto{
   
    width:  500px;
    font-size: 30px;
   

}

