
.bb{
    background-color: blue;
    height: 30px;
   
}


.produtos{
    margin: 0 auto;
    text-align: center;
}
.imagem1{
    display: flexbox;

}
.img {
    display: flexbox;

}

.Rodapé {
    display: flex;
    background: #132956;
    color: aliceblue;
    height: 300px;
   

}
.tex{
    flex-direction: column;
}
.texto{
    height: 0px;
    font-size: 30px;
    width:  1000px;

}

