
  @import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

.borda{
 background-color: #132956;
 height: 84px;
}

.bb{
    display: flex;
    flex-direction: row;
    background-color: #18C6C6;
    height: 677.2px;
}

.oferta{
    color: #E02323;
}

.bb ul{
    list-style: none;
}

.logo h1{
    font-family: 'Lancelot', cursive;
}

.logo p{
    font-family: 'Lexend Zetta', sans-serif;;
}

.painel{
    margin: 0 auto;
    text-align: center;
}

.produtos{
    margin: 0 auto;
    text-align: center;
}
.imagem1{
    display: flexbox;
}
.img {
    display: flexbox;
}

.Rodapé {
    display: flex;
    background-color: blue;

}

